#logo{
    height: 60px;
    vertical-align: middle;
    margin-top: 5px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(blur\ \(1\).jpg);
    font-family: "Outfit", sans-serif;   
}
h1{
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
header{
    text-align: center;
}